{% extends "_layouts/base.html" %}

{% block title %}
    {{ block.super }}: Contact
{% endblock %}

{% block contact_nav %}active{% endblock %}

{% block content %}
    <div class="row">
        <div>
            <h2>Contact</h2>
            <form method="post">{% csrf_token %}
                <fieldset>
                    {{ form }}
                </fieldset>
                <button type="submit">
                    Submit
                </button>
            </form>
        </div>
    </div>
{% endblock %}
