{% extends "_layouts/base.html" %}

{% block title %}
    {{ block.super }}: Contact
{% endblock %}

{% block contact_nav %}active{% endblock %}

{% block content %}
    <section class="contact-me">
        <aside>
            <p>
                You're writing me a letter? How nice. Just a few things to keep in mind:
            </p>
            <ul>
                <li>
                    I'm always interested in a new idea
                </li>
                <li>
                    I'm not particularly interested in recruiters
                </li>
                <li>
                    <b>Always</b> in the mood for a partnership
                </li>
            </ul>
        </aside>
        <form method="post">{% csrf_token %}
            {% for field in form %}
                <dl>
                    <dt>
                        {{ field.label }}
                    </dt>
                    {{ field.errors }}
                    <dd>
                        {{ field }}
                    </dd>
                </dl>
            {% endfor %}
            <button type="submit">
                Submit
            </button>
        </form>
    </section>
{% endblock %}
