{% extends "_layouts/base.html" %}

{% block title %}
    {{ block.super }}: Blog Entries
{% endblock %}

{% block blog_nav %}active{% endblock %}

{% block content %}
<section class="archive">
    <dl>
        {% for entry in entries %}
            <dt>
                <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
            <dt>
            <dd>
                <details>
                    {{ entry.intro }}
                </details>
            </dd>
        {% endfor %}
    </dl>
</section>
{% if is_paginated %}
    <div class="pagination">
        <ul>
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}">
                    <
                </a>
            </li>
            {% endif %}
            <li>
                <a href="?page={{ page_obj.number }}">
                    {{ page_obj.number }}
                </a>
            </li>
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}">
                    >
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
{% endblock %}
