{% extends "_layouts/base.html" %}

{% block title %}
    {{ block.super }}: {{ entry.title }}
{% endblock %}

{% block content %}
    <article class="span12">
        <header class="row">
            <h2 class="span12">
                {{ entry.title }}
            </h2>
            <section class="span12 intro">
                {{ entry.intro }}
            </section>
        </header>
        <section class="row">
            <div class="span12">
                {{ entry.markup|safe }}
            </div>
        </section>
    </article>
{% endblock %}
