@import "bourbon/bourbon";
@import "neat/neat";

html {
    background-color: #2A4480;
}

a, a:visited, a:hover, h1, h2, h3, h4, h5, h6 {
    color: #2a4480;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .navbar {
    font-family: $georgia;
}

a:hover {
    text-decoration: underline;
}

a.call-to-action {
    @include button(shiny);
    @include span-columns(2);
    @include shift(5);
    color: white;
}

body {
    @include outer-container;

    font-family: $helvetica;
    margin-top: 1.5em;

    #content, & > header {
        @include span-columns(12);
    }

    #content {
        @include border-radius(0 0 5px 5px);

        background-color: white;
        margin-bottom: 1.5em;
        padding-bottom: 1em;

        .archive {
            @include pad;
            @include span-columns(12);

            dt {
                font-size: 1.5em;
            }

            dd {
                margin-bottom: 1.5em;
            }
        }

        .hero {
            @include pad;
            @include shift(1);
            @include span-columns(10);

            text-align: center;
        }

        .window {
            @include span-columns(4);
            @include nth-omega(3n+1);
            
            p, h2 {
                padding: 0.5em 1em;
            }

            h2 {
                text-align: center;
            }

            .inner {
                @include border-radius(15px);
                background-color: lightgray;
                height: 25em;
                margin: 1em;
            }
        }

        .pagination {
            @include span-columns(12);
        }
        .contact-me {
            @include pad;

            form {
                @include shift(1);
                @include span-columns(4);
                margin-bottom: 1em;

                input, textarea {
                    @include span-columns(4 of 4);
                    margin-bottom: 1em;
                }

                .errorlist {
                    color: red;
                }
            }

            aside {
                @include shift(1);
                @include span-columns(4);

                ul li {
                    list-style-type: disc;
                    margin-bottom: 1em;
                }
            }
        }

        article {
            @include pad;
            @include span-columns(12);
        }
    }

    & > header {
        @include border-radius(10px 10px 0px 0px);
        
        background-color: #1240AB;
        color: white;
        height: 5em;

        a, a:hover, a:active, a:visited {
            text-decoration: none;
            color: inherit;
            padding: .5em;
        }

        .active a {
            background: white;
            color: #1240AB;
        }
    }

    & > header li:first-child {
        @include span-columns(6 of 12);
        @include shift(0);

        font-size: 2em;
        padding-top: 0.5em;
    }

    & > header li {
        @include shift(1);
        @include span-columns(2 of 12);

        font-size: 1.5em;
        padding-top: 1em;
    }
}

ul li, ol li, dl dt, dl dd, .errorlist {
    list-style-type: none;
    text-indent: 0;
    margin: 0;
}
