<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Construct Fire{% endblock %}</title>
    <link type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="{{ STATIC_URL }}css/site.css" rel="stylesheet">
    {% block extra_css %}
    {% endblock %}
    {% block extra_js %}
    {% endblock %}
</head>
<body class="container">
    <header class="row">
        <nav class="navbar">
            <div class="navbar-inner">
                <div class="brand">
                    <a href="/">
                        Construct Fire
                    </a>
                </div>
                <ul class="nav">
                    <li class="{% block blog_nav %}{% endblock %}">
                        <a href="{% url fireblog:home %}">
                            Blog
                        </a>
                    </li>
                    <li class="{% block contact_nav %}{% endblock %}">
                        <a href="#">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section id="content">
    {% block content %}{% endblock %}
    </section>
</body>
</html>
