<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Construct Fire{% endblock %}</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link type="text/css" href="{{ STATIC_URL }}css/normalize.css" rel="stylesheet">
    <link type="text/css" href="{{ STATIC_URL }}css/site.css" rel="stylesheet">
    {% block extra_css %}
    {% endblock %}
    {% block extra_js %}
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="/">
                        Construct Fire
                    </a>
                </li>
                <li class="{% block blog_nav %}{% endblock %}">
                    <a href="{% url fireblog:home %}">
                        Blog
                    </a>
                </li>
                <li class="{% block contact_nav %}{% endblock %}">
                    <a href="{% url firecontact:contact %}">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <section id="content">
    {% block content %}{% endblock %}
    </section>
    </div>
</body>
</html>
