ol li, ul li {
    list-style: none;
}

body {
    background-image: url("../light_toast/light_toast.png");
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.span1 > *, .span2 > *, .span3 > *, .span4 > *, .span5 > *,
.span6 > *, .span7 > *, .span8 > *, .span9 > *, .span10 > *,
.span11 > *, .span12 > * {
    padding: 0 15px;
}
